<div {{ editorAttr(element, edit, 'bg-warning') }}>
    <amp-carousel
            width="100" height="100"
            layout="responsive"
            type="slides"

            {{ editorAttr(element, edit, 'bg-warning') }}
            class="{{ elementClasses(element) }}"
    >
        {% if element.elements is defined and element.elements|length > 0 %}
            {% for element in element.elements %}
                {% include config.page_elements[element.elementName].template %}
            {% endfor %}
        {% endif %}
    </amp-carousel>
</div>
